作業目標:<br>
1. 熟悉索引與欄位設定
2. 使用樞紐建立新資料

作業重點:<br>
1. 多維度索引、欄位是有順序性的須注意
2. 使用樞紐建立資料需要注意參數<br>
  index : 新資料的索引名稱<br>
  columns : 新資料的欄位名稱<br>
  values :新資料的值名稱

題目: 運用下列分數資料重新建構資料，將索引(index)依序改為sex、class、student_id，欄位依序改成chinese_score、english_score、math_score<br><br>
score_df = pd.DataFrame([[1,50,80,70,'boy',1],[2,60,45,50,'boy',2],[3,98,43,55,'boy',1],[4,70,69,89,'boy',2],[5,56,79,60,'girl',1],[6,60,68,55,'girl',2],[7,45,70,77,'girl',1],[8,55,77,76,'girl',2],[9,25,57,60,'girl',1],[10,88,40,43,'girl',3],[11,25,60,45,'boy',3],[12,80,60,23,'boy',3],[13,20,90,66,'girl',3],[14,50,50,50,'girl',3],[15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])

In [1]:
import pandas as pd
import numpy as np
score_df = pd.DataFrame([[1,50,80,70,'boy',1],[2,60,45,50,'boy',2],[3,98,43,55,'boy',1],[4,70,69,89,'boy',2],[5,56,79,60,'girl',1],[6,60,68,55,'girl',2],[7,45,70,77,'girl',1],[8,55,77,76,'girl',2],[9,25,57,60,'girl',1],[10,88,40,43,'girl',3],[11,25,60,45,'boy',3],[12,80,60,23,'boy',3],[13,20,90,66,'girl',3],[14,50,50,50,'girl',3],[15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])

In [37]:
#將索引(index)依序改為sex、class、student_id，欄位依序改成chinese_score、english_score、math_score
score_df_index = score_df.set_index(['sex','student_id','class'])
score_df_index

                       math_score  english_score  chinese_score
sex  student_id class
boy  1          1              50             80             70
     2          2              60             45             50
     3          1              98             43             55
     4          2              70             69             89
girl 5          1              56             79             60
     6          2              60             68             55
     7          1              45             70             77
     8          2              55             77             76
     9          1              25             57             60
     10         3              88             40             43
boy  11         3              25             60             45
     12         3              80             60             23
girl 13         3              20             90             66
     14         3              50             50             50
     15         3              89             67             77